{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $github_user := promptStringOnce . "github_user" "GitHub username" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    github_user = {{ $github_user | quote }}
