[user]
	name = {{ .name }}
	email = {{ .email }}

[init]
	defaultBranch = main

[color]
	ui = auto

[core]
	editor = nano --fill=72 --softwrap

[commit]
	cleanup = strip
	verbose = true

[format]
	subjectprefix =
	pretty = medium

{{- if lookPath "gh" }}

[credential "https://github.com"]
	helper =
	helper = !{{ lookPath "gh" }} auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !{{ lookPath "gh" }} auth git-credential
{{- end }}

[include]
	path = ~/.gitconfig.local
